work/db.sqlite3
work/contigs/CP006057.1.fasta
work/contigs/m016ECL.fasta
work/contigs/m481ECL.fasta
work/contigs/p004KP.fasta
work/contigs/p165E.fasta
work/contigs/s082Km.fasta
work/contigs/s164ECL.fasta
work/contigs/s202ECL.fasta
work/contigs/S249.fasta
work/contigs/s257ECL.fasta
work/contigs/S284.fasta
work/contigs/s304ECL.fasta
work/mauve/annotations.js
work/mauve/CP006057.1.fasta
work/mauve/CP006057.1.fasta.sslist
work/mauve/m481ECL.fasta
work/mauve/m481ECL.fasta.sslist
work/mauve/out
work/mauve/out.backbone
work/mauve/out.bbcols
work/mauve/out.guide_tree
work/mauve/p004KP.fasta
work/mauve/p004KP.fasta.sslist
work/mauve/p165E.fasta
work/mauve/p165E.fasta.sslist
work/mauve/s082Km.fasta
work/mauve/s082Km.fasta.sslist
work/mauve/s164ECL.fasta
work/mauve/s164ECL.fasta.sslist
work/mauve/s202ECL.fasta
work/mauve/s202ECL.fasta.sslist
work/mauve/s257ECL.fasta
work/mauve/s257ECL.fasta.sslist
work/mauve/s304ECL.fasta
work/mauve/s304ECL.fasta.sslist
